@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the simple MVC app with OpenID Connect!</h2>
        <p>Maarten lust geen spruitjes.</p>
    </div>
</div>
